/* Candado con botones */
#candado-ui {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

#candado-ui div {
  margin: 0 5px;
  text-align: center;
}

#candado-ui button {
  font-size: 16px;
  width: 30px;
  height: 30px;
  margin: 3px 0;
}

/* Drag & drop */
.drag-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.drag-col {
  width: 45%;
  min-height: 100px;
  padding: 10px;
  background-color: #ffeef2;
  border: 2px dashed #f08080;
  border-radius: 10px;
}

.draggable {
  padding: 8px;
  margin: 5px;
  background-color: #ffd6e0;
  border: 1px solid #d63384;
  border-radius: 5px;
  cursor: grab;
  text-align: center;
}
